button{
    border-radius: 20px;
    background:transparent;
    padding: 5px;
}
button:hover{
    backdrop-filter: blur(50px);
    transform: scale(1.25);
    transition-duration: 1s;
    }
fieldset{
    backdrop-filter: blur(15px);
    border-radius: 50px;
    border: 4px solid #00033b;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 25px rgb(31, 255, 2);
    max-height: 250px;
}
button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
}
fieldset::before {
  content: "";
  background: linear-gradient(
    45deg,
    #6f00ff, #001eff, #00ccff, #00ff26,#f6ff00, #ff6200, #ff0000, #ff003c,#6f00ff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100%);
  height:  calc(100%);
  filter: blur(5px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 50px;
  opacity: 0;
}
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
fieldset:hover::before {
  opacity: 1;
}
fieldset:active:after {
  background: transparent;
}
fieldset:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
div{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}
legend{
  color: #30cc45;
}
#f1{
  max-width :550px;
}
#f2{
  max-width :950px;
}
#f3{
  max-width :300px;
}
#f4{
  max-width :475px;
}
#f5{
  max-width :450px;
}
#background-video{
  height: 100%;
  width: 100%;
}
